@model WeddingInvitation.Models.ChangePasswordModel

@{
    ViewBag.Title = "Change Password";
}

<script type="text/javascript">
    //Set default null for Password
    $(document).ready(function () {
        $("#OldPassword").val("");
    })
</script>
@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
{
<div class="bg_wireless">
    <div class="site">
        @(WeddingInvitation.Infrastructure.WorkContext.CompanyName.ToString()): Change password</div>
</div>
<div class="main_content account_detail">
    <nav class="list-content">
        <a href="@Url.Action("AccountDetails", "Account")" class="tab">Account Details</a> 
        <a class="tab active">Change Password</a> 
        <a href="@Url.Action("MyPackage", "Account")" class="tab \">My Package</a> 
        <a href="@Url.Action("Preferences", "Account")" class="tab">Preferences</a>
    </nav>
    <div class="edit_item group_account">
        @if (Model.NeedChangePassWord)
        {
            <div style="padding-left: 45px; padding-top: 20px; padding-bottom: 20px;">
                <label class="label labeltxt">
                    &nbsp;
                </label>
                <label style="line-height: 22px; padding-right: 180px;" class="labeltxt">
                    You are currently using a template password, for security reasons please update your password</label>
            </div>
        }
        <div class="list_item">
            <label class="label labeltxt">
                Current Password</label>
            @Html.PasswordFor(m => m.OldPassword, new { @class = "textbox"})
            @Html.ValidationMessageFor(m => m.OldPassword)
        </div>
        <div class="list_item">
            <label class="label labeltxt">
                New Password</label>
            @Html.PasswordFor(m => m.NewPassword, new { @class = "textbox"})
            @Html.ValidationMessageFor(m => m.NewPassword)
        </div>
        <div class="list_item">
            <label class="label labeltxt">
                Confirm Password</label>
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "textbox"})
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>
        <div style="padding-left:165px">
            <span style="color:Green;"><text>@ViewBag.Success</text></span>
            @Html.ValidationSummary(true)
        </div>
        <div style="padding-left:45px">
            <label class="label labeltxt">
                &nbsp;
            </label>
            <input type="submit" class="password align-left" value="Update Password" />
        </div>
    </div>
</div>
<div class="userdetail">
    <div id="userdetail">
        <h1>
            Password Security
        </h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br />
            <br />
            Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum
            soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat
            facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.<br />
            <br />
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
            laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
            architecto beatae vitae dicta sunt explicabo.
            <br />
            <br />
        </p>
    </div>
</div>
}
