@using WeddingInvitation.Data
@using WeddingInvitation.Infrastructure.Security;
@using WeddingInvitation.Infrastructure;
@{
    Layout = "~/Areas/Administrator/Views/Shared/_LayoutTwoColumns.cshtml";
    ViewBag.Title = "Danh sách đơn hàng phải lấy lại";
}
<script type="text/javascript">
    $(document).ready(function () {
        new SearchHelper($("#txtSearch"), $("#btnSearch"), $("#Order"));
    });
</script>
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Areas/Administrator/Content/Images/ico-catalog.png")" alt="" />
        Danh sách đơn hàng phải lấy lại
    </div>
</div>
@Helpers.SearchPanel(text: "Nhập vào từ khóa tìm kiếm...", btnSearch: "btnSearch", txtSearch: "txtSearch",showFromSearch:false)
@Html.Osd().HiddenPopupWindow("Cảnh Báo", Helpers.DeleteConfirmMessageBox("Bạn có thực sự muốn thực hiện thao tác này?", @Url.Action("ApproveOrderCancelForStorageDone", "Order", new { area = "administrator" })).ToHtmlString())
@(Html.Osd().Grid(new List<WeddingInvitation.Areas.Administrator.Models.OrderModel>(), name: "Order", controllerName: "Order", action: "OrderCancelForStorageGridModel", routeValues:null)
    .Columns(columns =>
    {
        columns.Bound(x => x.OrderId).Title("ID").ClientTemplate("<label><#= 10000 + OrderId #></label>")
            .Width(100)
            .Filterable(false);
        columns.Bound(x => x.CreateDate).Title("Ngày Tạo").Format("{0:dd/MM/yyyy HH:mm}")
            .Width(150)
            .Filterable(false);
        columns.Bound(x => x.MyOfficeIName).Title("Chi Nhánh")
        .Width(150)
        .Filterable(false);
        columns.Bound(x => x.CustomerName).Title("Khách Hàng")
            .Filterable(false);
        columns.Bound(p => p.OrderId)
            .ClientTemplate("<a onclick='onMessageBoxDetail(<#= OrderId #>)'>Chi tiết</a>")
            .HtmlAttributes(new { style = "text-align:center" })
            .Title("")
            .Width(70).Sortable(false)
            .Filterable(false);
        columns.Bound(x => x.ExtraFeeDisplay).Title("Phụ Thu")
            .Width(150)
            .Filterable(false);
        columns.Bound(x => x.TotalCostDisplay).Title("Tổng Tiền")
            .Width(150)
            .Filterable(false);
        columns.Bound(p => p.OrderId)
            .ClientTemplate("<a onclick='onMessageBoxActionDelete(<#= OrderId #>)'><img title=\"Xác nhận hủy\" src=\"" + Url.Content("~/Content/Images/notification_done.png") + "\" /></a>")
            .HtmlAttributes(new { style = "text-align:center" })
            .Title("")
            .Width(50).Sortable(false)
            .Filterable(false);
    }).Sortable(p => p.OrderBy(o =>
                        {
                            o.Add(t => t.OrderId);
                        })))
@{ Html.Telerik().Window()
        .Name("OrderDetails")
        .Title("Sản phẩm")
        .Draggable(true)
        .Visible(false)
        .Modal(true)
        .Width(870)
        .Height(260)
        .Render();
}
<script type="text/javascript">
    function onMessageBoxDetail(id) {
        var window = $("#OrderDetails").data("tWindow");
        window.ajaxRequest($.validator.format("{0}/{1}", "@Url.Action("ListOrderDetail", "Order")", id || ""));
        window.center().open();
    }
</script>