<div class="wrapper m_top">
    <div class="main-2">
        <div class="moduletable-company">
            <ul class="menu-list3">
                <li class="item-609">
                    <a href="@Url.Action("", "Home")">Trang Chủ</a>
                </li>
                <li class="item-622"></li>
            </ul>
        </div>
        <div class="moduletable-service">
            <ul class="menu-list3">
                <li class="item-621"><a href="@Url.Action("About", "Home")">Giới Thiệu</a></li>
                <li class="item-622"></li>
            </ul>
		</div>
		<div class="moduletable-service">
            <ul class="menu-list3">
                <li class="item-613">
                    <a href="@Url.Action("Index", "Tracking")">Định Vị Bưu Phẩm</a>
                </li>
                <li class="item-622"></li>
            </ul>
		</div>
		<div class="moduletable-advice">
            <ul class="menu-list3">
                <li class="item-621"><a href="@Url.Action("Category", "News", new { id = 1})">Tin Tức</a></li>
                <li class="item-622"></li>
            </ul>
		</div>
        <div class="moduletable-advice">
            <ul class="menu-list3">
                <li class="item-622"><a href="@Url.Action("Category", "News", new { id = 2})">Tuyển Dụng</a></li>
                <li class="item-622"></li>
            </ul>
		</div>
		<div class="moduletable-members">
            <ul class="menu-list3">
                <li class="item-617"><a href="@Url.Action("Contact", "Home")">Liên Hệ</a></li>
                <li class="item-622"></li>
            </ul>
		</div>
    </div>
</div>
<div class="footer">
    <div id="footer">
      <div class="col-1">
            <dl>
	            <dt><span class="title">CÔNG TY TNHH THƯƠNG MẠI - VẬN CHUYỂN TRUNG THÀNH<br>
                        3/7a Đồ Sơn, Phường 4, Quận Tân Bình, TP.HỒ CHÍ MINH</span></dt>
	            <dd><span>Điện Thoại:</span> 08.6293.8700 - 08.62828899  <span>  FAX:</span> 08.3811.1917</dd>
            </dl>
       </div>
      <!--{%FOOTER_LINK} -->
    </div>
    <!-- end footer -->
  </div>