<div id="header">
      <div class="logoheader">
        <h1 id="logo">
                    <a href="@Url.Action("", "Home")" title="Trung Thanh Express"><img width="450px" src="@Url.Content("~/Content/images/company.png")" alt=""></a>
                            </h1>
      </div>
      <!-- end logoheader -->
      		<div class="moduletable-msg">
					

<div class="custom-msg">
	<span class="welcome_msg"><cufon style="width: 42px; height: 29px;" alt="We" class="cufon cufon-canvas"><canvas style="width: 52px; height: 28px; top: 2px; left: 1px;" height="28" width="52"></canvas><cufontext>We</cufontext></cufon><cufon style="width: 88px; height: 29px;" alt=" work" class="cufon cufon-canvas"><canvas style="width: 95px; height: 28px; top: 2px; left: 1px;" height="28" width="95"></canvas><cufontext> work</cufontext></cufon><cufon style="width: 74px; height: 29px;" alt=" hard" class="cufon cufon-canvas"><canvas style="width: 81px; height: 28px; top: 2px; left: 1px;" height="28" width="81"></canvas><cufontext> hard</cufontext></cufon><cufon style="width: 46px; height: 29px;" alt=" to" class="cufon cufon-canvas"><canvas style="width: 50px; height: 28px; top: 2px; left: 1px;" height="28" width="50"></canvas><cufontext> to</cufontext></cufon><cufon style="width: 104px; height: 29px;" alt=" create" class="cufon cufon-canvas"><canvas style="width: 114px; height: 28px; top: 2px; left: 1px;" height="28" width="114"></canvas><cufontext> create</cufontext></cufon><br><cufon style="width: 111px; height: 29px;" alt="perfect" class="cufon cufon-canvas"><canvas style="width: 121px; height: 28px; top: 2px; left: 1px;" height="28" width="121"></canvas><cufontext>perfect</cufontext></cufon><cufon style="width: 57px; height: 29px;" alt=" solutions" class="cufon cufon-canvas"><canvas style="width: 68px; height: 28px; top: 2px; left: 1px;" height="28" width="68"></canvas><cufontext> solutions</cufontext></cufon><cufon style="width: 104px; height: 29px;" alt=" for" class="cufon cufon-canvas"><canvas style="width: 114px; height: 28px; top: 2px; left: 1px;" height="28" width="114"></canvas><cufontext> for</cufontext></cufon><cufon style="width: 175px; height: 29px;" alt=" customers" class="cufon cufon-canvas"><canvas style="width: 185px; height: 28px; top: 2px; left: 1px;" height="28" width="185"></canvas><cufontext> customers</cufontext></cufon></span></div>
		</div>
			<div class="moduletable-login">
					
		</div>
			<div class="moduletable-log">
					<form action="@Url.Action("", "Home")" method="post" id="login-form">
		<fieldset class="userdata">
	<p id="form-login-username">
		<label for="modlgn-username">User Name</label>
		<input id="modlgn-username" name="username" class="inputbox" size="18" type="text">
	</p>
	<p id="form-login-password">
		<label for="modlgn-passwd">Password</label>
		<input id="modlgn-passwd" name="password" class="inputbox" size="18" type="password">
	</p>
		<p id="form-login-remember">
		<label for="modlgn-remember">Remember Me</label>
		<input id="modlgn-remember" name="remember" class="inputbox" value="yes" type="checkbox">
	</p>
		<input name="Submit" class="button" value="Log in" type="submit">
	<input name="option" value="com_users" type="hidden">
	<input name="task" value="user.login" type="hidden">
	<input name="return" value="aW5kZXgucGhwP0l0ZW1pZD00MDI=" type="hidden">
	<input name="a89ed5e57a7d513d76bc1cb274c2fbc2" value="1" type="hidden">	</fieldset>
	<ul>
		<li>
			<a href="#">
			Forgot your password?</a>
		</li>
		<li>
			<a href="#">
			Forgot your username?</a>
		</li>
				<li>
			<a href="#">
				Create an account</a>
		</li>
			</ul>
	</form>
		</div>
	
      <div class="navigation">
        <!-- debut maximenu_CK, par cedric keiflin sur http://www.joomlack.fr -->
<div class="maximenuCKH" id="maximenuCK">
    <div class="maxiRoundedleft"></div>
    <div class="maxiRoundedcenter">
	<ul class="menu maximenuCK">
		<li class="maximenuCK item464 level0" style="z-index : 12000;"><a class="maximenuCK " href="@Url.Action("", "Home")" title=""><span class="titreCK">Trang Chủ</span></a>
		</li>
<li class="maximenuCK item563 parent level0" style="z-index : 11999;"><a class="maximenuCK " href="@Url.Action("About", "Home")" title=""><span class="titreCK">Giới Thiệu</span></a>
	
	</li><li class="maximenuCK item465 level0" style="z-index : 11994;"><a class="maximenuCK " href="@Url.Action("Index", "Tracking")" title=""><span class="titreCK">Định Vị Bưu Phẩm</span></a>
		</li>
<li class="maximenuCK item588 level0" style="z-index : 11993;"><a class="maximenuCK " href="@Url.Action("Category", "News", new { id = 1})" title=""><span class="titreCK">Tin Tức</span></a>
		</li>
<li class="maximenuCK item207 level0" style="z-index : 11992;"><a class="maximenuCK " href="@Url.Action("Category", "News", new { id = 2 })" title=""><span class="titreCK">Tuyển Dụng</span></a>
		</li>
<li class="maximenuCK item466 level0" style="z-index : 11991;"><a class="maximenuCK " href="@Url.Action("Contact", "Home")" title=""><span class="titreCK">Liên Hệ</span></a>
		</li>
	</ul>
    </div>
    <div class="maxiRoundedright"></div>
    <div style="clear:both;"></div>
</div>
<div style="clear:both;"></div>
<!-- fin maximenuCK -->

      </div>
    </div>