@model WeddingInvitation.Areas.Administrator.Models.OrderModel
@{
    Layout = "~/Areas/Administrator/Views/Shared/_LayoutTwoColumns.cshtml";
    ViewBag.Title = "Quản lý thu tiền mặt của khách";
}
<script type="text/javascript">
    $(document).ready(function () {
        new SearchHelper($("#txtSearch"), $("#btnSearch"), $("#Debt"));
    });
</script>
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Areas/Administrator/Content/Images/ico-catalog.png")" alt="" />
        Quản lý thu tiền mặt của khách
    </div>
    <div class="options">
        <a onclick="Preview();" class="t-button">Xem</a>
    </div>
</div>
<table width="100%">
    <tr>
        <td>
            @Html.Label("Từ ngày")
        </td>
        <td>
            @Html.Label("Đến ngày")
        </td>
        <td>
            @Html.Label("Chi nhánh")
        </td>
    </tr>
    <tr>
        <td>
            @(Html.Telerik().DatePicker()
                    .Name("FromDate")
                    .HtmlAttributes(new { id = "FromDate_wrapper" })
                    .ShowButton(true)
                    .Value(new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1)))
        </td>
        <td>
            @(Html.Telerik().DatePicker()
                    .Name("ToDate")
                    .HtmlAttributes(new { id = "ToDate_wrapper" })
                    .ShowButton(true)
                    .Value(DateTime.Now)
            )
        </td>
        <td>
            @Html.DropDownList("ListOffices", new SelectList(Model.MyOffices, "MyOfficeId", "OfficeName"))
        </td>
    </tr>
</table>
<br />
@Helpers.SearchPanel(text: "Nhập vào từ khóa tìm kiếm...", btnSearch: "btnSearch", txtSearch: "txtSearch", showFromSearch: false)
@Html.Osd().HiddenPopupWindow("Cảnh Báo", Helpers.DeleteConfirmMessageBox("Bạn có thực sự muốn xóa không", @Url.Action("delete", "Debt", new { area = "administrator" })).ToHtmlString())
@(Html.Osd().Grid(new List<WeddingInvitation.Areas.Administrator.Models.DebtModel>(), name: "Debt", controllerName: "Debt")
                    .Columns(columns =>
                    {
                        columns.Bound(x => x.DebtId).Title("ID").ClientTemplate("<label><#= 10000 + DebtId #></label>")
                           .Width(100)
                           .Filterable(false);
                        columns.Bound(x => x.CreateDate).Title("Ngày Tạo").Format("{0:dd/MM/yyyy}")
                            .Width(150)
                            .Filterable(false);
                        columns.Bound(x => x.FromDate).Title("Từ Ngày").Format("{0:dd/MM/yyyy}")
                            .Width(150)
                            .Filterable(false);
                        columns.Bound(x => x.ToDate).Title("Đến Ngày").Format("{0:dd/MM/yyyy}")
                            .Width(150)
                            .Filterable(false);
                        columns.Bound(x => x.MyOfficeName).Title("Chi Nhánh")
                            .Filterable(false);
                        columns.Bound(x => x.TotalDisplay).Title("Tổng Tiền Bann Đầu")
                            .Width(150)
                            .Filterable(false);
                        columns.Bound(x => x.PaidDisplay).Title("Đã Thu")
                            .Width(150)
                            .Filterable(false);
                        columns.Bound(x => x.PaidLeftDisplay).Title("Còn Lại")
                            .Width(150)
                            .Filterable(false);
                    })
                    .ClientEvents(events => events.OnDataBinding("onDataBinding"))
                    .EnableCustomBinding(true)
                    .Sortable(p => p.OrderBy(o =>
                        {
                            o.Add(t => t.DebtId).Descending();
                        })))
<script type="text/javascript">
    $(document).ready(function () {
        $("#ListOffices").multiselect({
            header: true,
            selectedText: '#/# đã chọn',
            noneSelectedText: '- Chọn -',
            selectedList: 0,
            checkAllText: 'Chọn hết',
            uncheckAllText: 'Bỏ chọn'
        });
        $("#ListOffices").multiselect("uncheckAll");
        jQuery.validator.methods["date"] = function (value, element) { return true; };
    });
    function Preview() {
        var fromDateTime = $('#FromDate').data('tDatePicker');
        var fromDate = $.telerik.formatString('{0:dd/MM/yyyy}', fromDateTime.value());
        var toDateTime = $('#ToDate').data('tDatePicker');
        var toDate = $.telerik.formatString('{0:dd/MM/yyyy}', toDateTime.value());
        var listOffices = $("#ListOffices").multiselect("getChecked").map(function () {
            return this.value;
        }).get();
        jQuery.ajaxSettings.traditional = true;
        $("#Debt").data('tGrid')
                         .rebind({
                             FromDate: fromDate,
                             ToDate: toDate,
                             ListOffices: listOffices
                         });

    }
    function onDataBinding(e) {
        var fromDateTime = $('#FromDate').data('tDatePicker');
        var fromDate = $.telerik.formatString('{0:dd/MM/yyyy}', fromDateTime.value());
        var toDateTime = $('#ToDate').data('tDatePicker');
        var toDate = $.telerik.formatString('{0:dd/MM/yyyy}', toDateTime.value());
        var listOffices = $("#ListOffices").multiselect("getChecked").map(function () {
            return this.value;
        }).get();
        var searchModel = {
            FromDate: fromDate,
            ToDate: toDate,
            ListOffices: listOffices
        };
        e.data = searchModel;
    }
</script>