@{
    ViewBag.Title = "Danh sách bộ sản phẩm";
}
<script type="text/javascript">
    $(document).ready(function () {
        new SearchHelper($("#txtSearch"), $("#btnSearch"), $("#Category"));
    });
</script>
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Areas/Administrator/Content/Images/ico-catalog.png")" alt="" />
        Danh sách bộ sản phẩm
    </div>
    <div class="options">
        <a href="@Url.Action("Create", "Category")" class="t-button">Tạo mới</a>
    </div>
</div>
@Helpers.SearchPanel(text: "Nhập vào từ khóa tìm kiếm...", btnSearch: "btnSearch", txtSearch: "txtSearch")
@Html.Osd().HiddenPopupWindow("Cảnh Báo", Helpers.DeleteConfirmMessageBox("Bạn có thực sự muốn xóa không", @Url.Action("delete", "Category", new { area = "administrator" })).ToHtmlString())
@(Html.Osd().Grid<WeddingInvitation.Areas.Administrator.Models.CategoryModel>(new List<WeddingInvitation.Areas.Administrator.Models.CategoryModel>(), name: "Category", controllerName: "Category")
                    .Columns(columns =>
                    {
                        columns.Bound(x => x.CategoryId).Title("ID").ClientTemplate("<a href=\"Category/Edit/<#= CategoryId #>\"><#= 10000 + CategoryId #></a>")
                            .Width(100)
                            .Filterable(false);
                        columns.Bound(x => x.CategoryCode).Title("Mã Loại Sản Phẩm")
                            .Width(250)
                            .Filterable(false);
                        columns.Bound(x => x.CategoryName).Title("Tên Loại Sản Phẩm")
                            .Filterable(false);
                        columns.Bound(p => p.CategoryId)
                            .ClientTemplate("<a onclick='onMessageBoxActionDelete(<#= CategoryId #>)'><img src=\" ../Content/Images/delete_16_16.png\" /></a>")
                            .HtmlAttributes(new { style = "text-align:center" })
                            .Title("<label style=\"color:red; font-weight:bold\">Xóa</label>")
                            .Width(100).Sortable(false)
                            .Filterable(false);
                    }))