@{
    ViewBag.Title = "Định giá";
}
<script type="text/javascript">
    $(document).ready(function () {
        new SearchHelper($("#txtSearch"), $("#btnSearch"), $("#RateMapping"));
        if ("@Model" == "1") {
            $(".rightcol").show();
        }
    });
</script>
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Areas/Administrator/Content/Images/ico-catalog.png")" alt="" />
        Định giá
    </div>
    <div class="options">
        <a onclick="openCreateForm()" class="t-button">Tạo mới</a>
    </div>
</div>
<table class="dashboard">
    <tr>
        <td class="maincol">
            @Helpers.SearchPanel(text: "Nhập vào từ khóa tìm kiếm...", btnSearch: "btnSearch", txtSearch: "txtSearch")
            @Html.Osd().HiddenPopupWindow("Cảnh Báo", Helpers.DeleteConfirmMessageBox("Bạn có thực sự muốn xóa không", @Url.Action("delete", "RateMapping", new { area = "administrator" })).ToHtmlString())
            @(Html.Osd().Grid(new List<WeddingInvitation.Areas.Administrator.Models.RateMappingModel>(), name: "RateMapping", controllerName: "RateMapping")
                    .Columns(columns =>
                    {
                        columns.Bound(x => x.RateMappingId).Title("ID").ClientTemplate("<a href=\"RateMapping/Edit/<#= RateMappingId #>\"><#= 10000 + RateMappingId #></a>")
                            .Width(70)
                            .Filterable(false);
                        columns.Bound(x => x.ProductName).Title("Sản Phẩm")
                            .Filterable(false);
                        columns.Bound(x => x.MyOfficeName).Title("Chi Nhánh")
                            .Filterable(false);
                        columns.Bound(x => x.PriceDisplay).Title("Giá")
                            .Width(100)
                            .Filterable(false);
                        columns.Bound(x => x.PrintingWithoutImagePrice).Title("Phí In Không Hình")
                            .Width(150)
                            .Filterable(false);
                        columns.Bound(x => x.PrintingIncludeImagePriceDisplay).Title("Phí In Hình Cô Dau Chú Rể")
                            .Width(170)
                            .Filterable(false);
                        columns.Bound(p => p.RateMappingId)
                            .ClientTemplate("<a onclick='onMessageBoxActionDelete(<#= RateMappingId #>)'><img src=\" ../Content/Images/delete_16_16.png\" /></a>")
                            .HtmlAttributes(new { style = "text-align:center" })
                            .Title("<label style=\"color:red; font-weight:bold\">Xóa</label>")
                            .Width(50).Sortable(false)
                            .Filterable(false);
                    }).Sortable(p => p.OrderBy(o => o.Add(b => b.RateMappingId).Descending())))
        </td>
        <td class="rightcol" style="display: none">
            @Html.Action("Create", "RateMapping")
        </td>
    </tr>
</table>

<script type="text/javascript">
    function openCreateForm() {
        $(".rightcol").show();
    }

</script>
