@{
    ViewBag.Title = "Danh sách logo khách hàng";
}
<script type="text/javascript">
    $(document).ready(function () {
        new SearchHelper($("#txtSearch"), $("#btnSearch"), $("#CustomerLogo"));
    });
</script>
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Areas/Administrator/Content/Images/ico-catalog.png")" alt="" />
        Danh sách logo khách hàng
    </div>
    <div class="options">
        <a href="@Url.Action("Create", "CustomerLogo")" class="t-button">Tạo mới</a>
    </div>
</div>
@Helpers.SearchPanel(text: "Nhập vào từ khóa tìm kiếm...", btnSearch: "btnSearch", txtSearch: "txtSearch")
@Html.Osd().HiddenPopupWindow("Cảnh Báo", Helpers.DeleteConfirmMessageBox("Bạn có thực sự muốn xóa không", @Url.Action("delete", "CustomerLogo", new { area = "administrator" })).ToHtmlString())
@(Html.Osd().Grid(new List<WeddingInvitation.Areas.Administrator.Models.CustomerLogoModel>(), name: "CustomerLogo", controllerName: "CustomerLogo")
                    .Columns(columns =>
                    {
                        columns.Bound(x => x.CustomerLogoId).Title("ID").ClientTemplate("<a href=\"CustomerLogo/Edit/<#= CustomerLogoId #>\"><#= 10000 + CustomerLogoId #></a>")
                            .Width(100)
                            .Filterable(false);
                        columns.Bound(x => x.CustomerName).Title("Tên Khách Hàng")
                            .Filterable(false);
                        columns.Bound(p => p.CustomerLogoId)
                            .ClientTemplate("<a onclick='onMessageBoxActionDelete(<#= CustomerLogoId #>)'><img src=\" ../Content/Images/delete_16_16.png\" /></a>")
                            .HtmlAttributes(new { style = "text-align:center" })
                            .Title("<label style=\"color:red; font-weight:bold\">Xóa</label>")
                            .Width(100).Sortable(false)
                            .Filterable(false);
                    }).Sortable(p => p.OrderBy(o => o.Add(b => b.CustomerLogoId).Descending())))