@model WeddingInvitation.Areas.Administrator.Models.CustomerModel
@{
    Layout = null;
    ViewBag.Title = "Đăng ký khách hàng";
}
@using (Html.BeginForm("SaveCustomer", "Home", FormMethod.Post))
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Areas/Administrator/Content/images/ico-catalog.png")" alt="" />
            Lưu ý: Đặt hàng từ lần thứ 2 trở đi chỉ cần MS Khách hàng = Số điện thoại
        </div>
        <div class="options">
            <button id="btnSave" type="submit" name="save" value="Save" tabindex="6" class="t-button">Lưu</button>
        </div>
    </div>

    @Html.HiddenFor(model => model.CustomerId)
    <table width="99%">
        <tr>
            <td width="100" class="adminTitle">
                @Html.Label("Tỉnh")
                <span class="field_required">*</span>
            </td>
            <td class="adminData">
                @Html.DropDownListFor(model => model.MyOfficeId, new SelectList(Model.MyOffices, "MyOfficeId", "OfficeName"), "-Chọn-")
                @Html.ValidationMessageFor(model => model.MyOfficeId, "Chi nhánh là bắt buộc.")
            </td>
        </tr>
        <tr>
            <td width="100" class="adminTitle">
                @Html.Label("Tên khách hàng")
                <span class="field_required">*</span>
            </td>
            <td class="adminData">
                @Html.TextBoxFor(model => model.CustomerName)
                @Html.ValidationMessageFor(model => model.CustomerName)
            </td>
        </tr>
        <tr>
            <td width="100" class="adminTitle">
                @Html.Label("Mã Khách hàng = Số điện thoại")
                <span class="field_required">*</span>
            </td>
            <td class="adminData">
                @Html.TextBoxFor(model => model.PhoneNumber)
                @Html.ValidationMessageFor(model => model.PhoneNumber)
            </td>
        </tr>
        <tr>
            <td width="100" class="adminTitle">
                @Html.Label("Email")
                <span class="field_required">*</span>
            </td>
            <td class="adminData">
                @Html.TextBoxFor(model => model.CustomerCode)
                @Html.ValidationMessageFor(model => model.CustomerCode)
            </td>
        </tr>
        <tr>
            <td width="100" class="adminTitle">
                @Html.Label("Số nhà/Đường")
                <span class="field_required">*</span>
            </td>
            <td class="adminData">
                @Html.TextBoxFor(model => model.Address)
                @Html.ValidationMessageFor(model => model.Address)
            </td>
        </tr>
        <tr>
            <td width="100" class="adminTitle">
                @Html.Label("Xã/Phường")
                <span class="field_required">*</span>
            </td>
            <td class="adminData">
                @Html.TextBoxFor(model => model.Fax)
                @Html.ValidationMessageFor(model => model.Fax)
            </td>
        </tr>
        <tr>
            <td width="100" class="adminTitle">
                @Html.Label("Quận/Huyện")
                <span class="field_required">*</span>
            </td>
            <td class="adminData">
                @Html.TextBoxFor(model => model.CellPhoneNumber)
                @Html.ValidationMessageFor(model => model.CellPhoneNumber)
            </td>
        </tr>
    </table>
}
